// Colors
$brand-light:   lightcyan
$brand-darker:  darkslategray
$brand-dark:    dimgray
$white:         #fff
$black:         #000

// Fonts
$font-family:   "Gill Sans", sans-serif
$font-base:     1 rem
$font-large:    1.25 rem
$font-xl:       2 rem

// Border
$border-width:   1px
$border-rad:     10px

//Button
$button-color1:   ghostwhite
$button-color2:   $brand-darker
$button-bg1:      $brand-light
$button-bg2:      $brand-dark
