.sectionStart
    background-color: $brand-darker
    padding: 4.5rem
.sectionGame
    background-image: url("background.jpg")
    padding: 1rem
    width: 60%
    margin: auto
    border-radius: 30px
    min-height: 705px
    max-height: 705px
