.btn-playnow
    @extend .center-block
    background-color: $button-color1
    width: 150px
.btn-start
    @extend .center-block
    color: $white
    background-color: $button-color2
    width: 100px
.btn-sh
    @extend .center-block
    +btn-varient($black,$button-color1,$white)
    margin-top: 2.5rem
    +btn-sizing(90px, 10px, 20px, 6px)

    
