.deck
    @extend .center-block
    padding: 1rem
    margin: auto
.bet_place
    @extend .center-block
.zone
    max-height: 180px
    min-height: 180px
.pop_ups
    max-height: 30px
    min-height: 30px
.deal_col
    display: inline-block
    margin-left: 25%
.amount_col
    display: inline-block
    margin-right: 0%
.row_pl
    padding-top: 50px
.hit_stand
    margin-bottom: 0
    padding-bottom: 0
    margin-left: 25%
.msg
    margin-left: 60%
    padding-bottom: 30px

