.start-text
    font-family: $font-family
    font-size: $font-base
.game-text
    @extend .start-text 
    text-align: center
    color: $white
.amount-text
    @extend .start-text
    color: $white
    text-align: right
    margin-top: 24px 
.sum 
    @extend .center-block
    font-size: 30px
    color: $white
    padding-top: 40px
.PD-text 
    @extend .game-text
    margin-top: 0
    margin-bottom: 35px

    